<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>{{restaurant.name}}</h1>
   <a href="{% url 'openadditem' restaurant.id %}">additem</a>
   <table border="1">
    <thead>
        <th>name
        </th>
        <th>
Description
        </th>
        <th>
            Price
        </th>
        <th>
            Vegetarian
        </th>
        <th>image</th>
        <th>operations</th>
    </thead>
    <tbody>
        
         {% for i in item %}
        
        <tr>
            <td>
{{i.name}}
            </td>
            <td>
      {{i.description}}
            </td>
            <td>
{{i.price}}
            </td>
            <td>{{i.is_veg}}</td>
            <td>
                <img src="{{i.picture}}" alt="no img is found">
            </td>
            <td>
                <a href="{% url 'openupadetitem' i.id %}">Update</a>
                <form method="post" action="{% url 'deleteitem' i.id %}">
                      {% csrf_token %}
              <button>deleteitem</button> </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
   </table>
</body>
</html>