<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form method="post" action="{% url 'additem' restaurant.id %}">
    {% csrf_token %}
    
    <label for="name">Item name</label>
    <input type="text" name="name" value=>
    
    <label for="description">Description</label>
    <input type="text" name="description" value=>
    
    <label for="price">Price</label>
    <input type="text" name="price" >
    
    <label for="is_veg">Vegetarian:</label>
    <input type="checkbox" name="is_veg" {% if item.is_veg %}checked{% endif %}>
    
    <label for="picture">Image URL:</label>
    <input type="url" name="picture" >
    
    <button type="submit">Update Item</button>
</form>
</body>
</html>